.register {
  place-content: center;
  display: grid;
}

.register form {
  display: grid;
  grid-gap: 0 16px;
  grid-template-columns: 1fr 1fr;
  min-width: 400px;
  font-size: 16px;
}

.register form > * {
  grid-column: 1 / -1;
}

.register form > .small {
  grid-column: span 1;
}

.register input {
  padding: 14px 16px;
  margin-bottom: 24px;
  border: 2px solid var(--primary-black);
  font-size: 14px;
}

.register label {
  display: block;
  margin-bottom: 4px;
  color: var(--secondary-black);
  font-weight: 400;
}

.register input:focus {
  border-color: var(--primary);
}

.register button {
  justify-self: center;
  /* max-width: 120px; */
  padding: 14px 40px;
  font-weight: bold;
  letter-spacing: 0.06em;
  font-size: 16px;
  background-color: var(--primary);
  border: 0;
  color: white;
  border-radius: 24px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.register button:hover,
.register button:focus {
  box-shadow: 0 0 10px 0 var(--primary-60);
}

.register span {
  position: relative;
  top: -16px;
  font-size: 14px;
  color: var(--danger);
}
