.post {
  margin-bottom: 16px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  overflow: hidden;
}

.post .post-header {
  display: grid;
  grid-gap: 0 16px;
  grid-template: 32px 32px / 64px auto;
  grid-template-areas:
    "image name"
    "image date";
  padding: 16px;
}

.post-header img {
  grid-area: image;
  border-radius: 50%;
}

.post-header h3 {
  grid-area: name;
  margin: 0;
  font-size: 18px;
  align-self: end;
}

.post-header span {
  grid-area: date;
  font-size: 14px;
  font-weight: var(--secondary-black);
}

.post .content {
  padding: 0 16px 16px;
}

.post .buttons {
  /* border-top: 1px solid rgba(0, 0, 0, 0.14); */
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr;
  margin: 8px 4px 4px;
}

.post .image {
  margin-bottom: 0;
  width: 100%;
}

.post-button {
  background-color: rgba(0, 0, 0, 0.06);
  min-height: 36px;
  color: var(--secondary-black);
  font-weight: bold;
  border-radius: 4px;
  letter-spacing: 0.05em;
}

.post-button span {
  margin-left: 8px;
  /* font-size: 12px; */
}

.post-button:hover {
  background-color: var(--shadow);
}

.post-button.liked {
  background-color: var(--primary);
  color: rgba(255, 255, 255, 0.88);
}
